# Server
fastapi
uvicorn[standard]

# Machine Learning Dependencies
numpy
pandas
scikit-learn
opencv-python
joblib

# template renderer
jinja2

# form data handling
python-multipart

# Db dependencies
sqlalchemy
aiosqlite

# DB migration management tools
#alembic

# Admin site dependencies
fastapi_amis_admin
pydantic-settings
fastapi-user-auth
starlette-admin
itsdangerous

# Code Sorting and formatting
isort
black
